attrs==25.3.0
beautifulsoup4==4.12.2
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
chromedriver-autoinstaller==0.6.0
click==8.3.0
Flask==2.3.3
gunicorn==21.2.0
h11==0.16.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
outcome==1.3.0.post0
packaging==25.0
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.31.0
selenium==4.15.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
trio==0.31.0
trio-websocket==0.12.2
urllib3==2.5.0
webdriver-manager==4.0.2
Werkzeug==3.1.3
wsproto==1.2.0
